{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Compagny</th>
                <th>Activity</th>
                <th>Contact</th>
                <th>Post</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.compagny }}</td>
                <td>{{ client.activity }}</td>
                <td>{{ client.contact }}</td>
                <td>{{ client.post }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.notes }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
